:root {
  --off-white: #f0f0f0;
  --off-black: #202020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
button {
  font-family: "VT323", monospace;
}
h1 {
  font-size: xx-large;
}
body {
  background-color: var(--off-black);
  width: 100vw; 
}

body,
header,
.welcome,
.tile,
.level,
.gameSpace
#game-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
header,
.welcome,
.gameSpace {
  flex-direction: column;
}


header,
footer{
  margin: 20px auto;
  color: var(--off-white);
}



.goBackBtn,
.levelBtn {
  background-color: var(--off-black);
  color: var(--off-white);
  border: 2px solid var(--off-white);
  border-radius: 5px;
  height: 30px;
  width: 100px;
}
.goBackBtn {
  box-shadow: 2px 2px 5px var(--off-white);
  margin-top: 20px;
  font-size: large;
  visibility: hidden;
}
.levelBtn {
  margin: 20px;
}

.helloImg {
  border: 1px solid var(--off-white);
  border-radius: 100%;
  width: 35%;
  height: auto;
}

#game-board {
  display: none;
  position: relative;
}

.tile {
  position: absolute;
  border: 1px solid var(--off-white);
  height: 100px;
  width: 100px;
  color: transparent;
  transition: top 0.2s linear, left 0.2s linear;
  background-image: url(image/Webtoon_St_Sobs.jpg);
  z-index: 5;
}

.tile:last-of-type {
  background-image: none;
  border: none;
}
